cloud_id                 = "11111111111111111111"
folder_id                = "11111111111111111111"
zone                     = "ru-central1-a"
service_account_key_file = "~/key.json"
bucket_name             = "bucket"
storage_key              = "1111111111111"
storage_secret           = "Qq12345678"
