cloud_id                 = "11111111111111111111"
folder_id                = "11111111111111111111"
zone                     = "ru-central1-a"
app_disk_image           = "reddit-app-base"
db_disk_image            = "reddit-app-base"
public_key_path          = "~/.ssh/rsa.pub"
private_key_path         = "~/.ssh/rsa"
service_account_key_file = "~/key.json"
subnet_id                = "111111111111111111111"
